<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/hospital/add']">添加医院</button>
        </div>
        <div class="card-block">
          <table class="table table-responsive table-bordered table-striped table-hover table-outline">
            <thead class="thead-default">
              <tr>
                <th>医院名称</th>
                <th class="text-center">医院编码</th>
                <th class="text-center">医院类型</th>
                <th class="text-center">等级</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of hospitalPageInfo.Sequences">
                <tr>
                  <td>
                    <div>{{item.ConceptName}}</div>
                  </td>
                  <td class="text-center">
                    {{item.ConceptCode}}
                  </td>
                  <td>
                    <div class="text-center">
                      {{item.ConceptType}}
                    </div>
                  </td>
                  <td class="text-center">
                    <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                  </td>
                  <td>
                    <strong>10 sec ago</strong>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="hospitalPageInfo.TotalItemCount" [maxSize]="5" [page]="1" (pageChange)="pageIndexChange($event)"
            aria-label="Default pagination"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

