<ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs" let-last=last>
    <ng-container *ngIf="breadcrumb.label.title&&breadcrumb.url.substring(breadcrumb.url.length-1) == '/'||breadcrumb.label.title&&last">
        <li class="breadcrumb-item" [ngClass]="{active: last}">
            <a *ngIf="!last" [routerLink]="breadcrumb.url">{{breadcrumb.label.title}}</a>
            <span *ngIf="last" [routerLink]="breadcrumb.url">{{breadcrumb.label.title}}</span>
        </li>
    </ng-container>
</ng-template>