<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>填写医院信息
                </div>
                <div class="card-block">
                    <form (ngSubmit)="submitHospital()" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="form-form-control-label">医院名称</label>
                                <input type="text" class="form-control" name="ConceptName" [(ngModel)]="hospitalDetail.ConceptName" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-form-control-label">医院缩写</label>
                                <input type="text" class="form-control" name="ConceptNameAb" [(ngModel)]="hospitalDetail.ConceptNameAb">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="form-form-control-label">床位数</label>
                                <input type="number" class="form-control" name="HospitalBedCount" [(ngModel)]="hospitalDetail.HospitalBedCount">
                            </div>
                            <div class="col-md-6">
                                <label class="form-form-control-label">医院编码</label>
                                <input type="text" class="form-control" name="ConceptCode" [(ngModel)]="hospitalDetail.ConceptCode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="form-form-control-label">医院类型</label>
                                <select class="form-control" name="HospitalType" [(ngModel)]="hospitalDetail.HospitalType">
                                    <ng-container  *ngFor="let item of enumConceptHospitalType | enumkeyvalue">
                                        <option [value]="item.key">{{item.value}}</option>
                                    </ng-container>                                  
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-form-control-label">医院等级</label>
                                <select class="form-control" name="HospitalLevel" [(ngModel)]="hospitalDetail.HospitalLevel">
                                    <ng-container  *ngFor="let item of enumConceptHospitalLevel | enumkeyvalue">
                                        <option [value]="item.key">{{item.value}}</option>
                                    </ng-container>                                  
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-form-control-label">省</label>
                                <select class="form-control" name="HospitalProvince" [(ngModel)]="hospitalDetail.HospitalProvince" #selectProvice>
                                    <ng-container  *ngFor="let item of proviceData">
                                        <option [value]="item.id">{{item.name}}</option>
                                    </ng-container>                                  
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label class="form-form-control-label">市</label>
                                <select class="form-control" name="HospitalCity" [(ngModel)]="hospitalDetail.HospitalCity" #selectCity>
                                     <ng-container  *ngFor="let item of cityData">
                                        <option [value]="item.id">{{item.name}}</option>
                                    </ng-container>                                  
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label class="form-form-control-label">县</label>
                                <select class="form-control" name="HospitalCounty" [(ngModel)]="hospitalDetail.HospitalCounty">
                                     <ng-container  *ngFor="let item of countyData">
                                        <option [value]="item.id">{{item.name}}</option>
                                    </ng-container>                             
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-form-control-label">医院地址</label>
                                <input type="text" class="form-control" name="HospitalAddress" [(ngModel)]="hospitalDetail.HospitalAddress">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="form-form-control-label">医院描述</label>
                                <textarea class="form-control" rows="8" name="ConceptDefinition" [(ngModel)]="hospitalDetail.ConceptDefinition"></textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">保 存</button>
                            <button type="button" class="btn btn-default" (click)="back()">取 消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>